.content_3{
    width: 100%;
    padding: 120px 120px;
    @media (min-width:750px) and (max-width:1050px) {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (min-width:300px) and (max-width:749px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 20px;
    }
}

.img_section {
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* Медиа-запросы для среднего экрана */
@media (min-width: 750px) and (max-width: 1050px) {
    .img_section {
        padding: 0 60px;
        grid-template-columns: 1fr;
        align-items: center;
    }
}

/* Медиа-запросы для маленького экрана */
@media (max-width: 749px) {
    .img_section {
        grid-template-columns: 1fr;
        padding: 10px 0;
        align-items: center;
        
    }
}

#phone{
    text-align: center;
    padding: 20px;
    @media (max-width: 749px){
        padding: 0;
    }
}
.btns{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    @media (max-width: 749px){
        width: 90%;
        padding: 0;
    }
}
.btn2{
    margin: 15px;
    width: 140px;
    height: 52px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    cursor: pointer;
    background-color: white;
    @media (max-width: 749px){
        width: 25%;
        height: 40px;
        font-size: 12px;
    }
}

.CountNumber{
    width: 50px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#addbtn{
    width: 115px;
    height: 45px;
    background: #35B8BE;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    margin: 0 20px;
    cursor: pointer;
}

#btnSee{
    width: 180px;
    height: 60px;
    background: #35B8BE;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    color: white;
    margin: 60px 0;
    cursor: pointer;
}
.img_section>div{
    width: 90%;
    display: flex;
    margin: 20px 0;
    
    @media (min-width:300px) and (max-width:749px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
}

.img_section img{
    @media (min-width:300px) and (max-width:749px){
        width: 40%;
        height: 50%;
    }
}


