.HeaderTop {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 48px;
    background-color: #35B8BE;
    color: #ffffff;
    font-size: 14px;
    @media (max-width:400px) {
        height: 60px;
    }
}

/* Медиа-запросы для среднего экрана */
@media (min-width: 750px) and (max-width: 1050px) {
    .HeaderTop {
        padding: 0 60px;
    }
}

/* Медиа-запросы для маленького экрана */
@media (max-width: 749px) {
    .HeaderTop {
        flex-direction: column;
        padding: 10px 30px;
        gap: 5px;
    }
}


.top-header{
    color: #ffffffd3;
}

.HeaderTop a{
    cursor: pointer;
}