.content_5{
    width: 100%;
    padding: 100px 120px;
    display: flex;
    justify-content: space-between;
    @media (min-width: 750px) and (max-width: 1050px) {
        padding: 50px 60px;
        flex-direction: column;
        text-align: center;
    }
    @media (min-width: 300px) and (max-width: 750px) {
        padding: 30px 30px;
        flex-direction: column;
        text-align: center;
    }
}

.content_5 h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: #35B8BE;
    @media (min-width: 300px) and (max-width: 750px) {
        font-size: 16px;
    }
}

.content_5 p{
    margin: 20px 0;
    font-size: 18px;
    color:  #546285;
    @media (min-width: 300px) and (max-width: 750px) {
        font-size: 14px;
    }
}

.btnphone{
    width: 200px;
    height: 60px;
    background-color: #35B8BE;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    @media (min-width: 750px) and (max-width: 1050px) {
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
    @media (min-width: 300px) and (max-width: 750px) {
        width: 140px;
        height: 45px;
        font-size: 14px;
    }
}