.content_7{
    width: 100%;
    height: auto;
    padding: 40px 120px;
    margin: -50px auto;    

    @media (min-width:750px) and (max-width:1050px) {
        padding: 20px 60px;
    }
    @media (min-width:300px) and (max-width:750px) {
        padding: 30px 30px;

      }

}

.content_77{
    display: flex;
    justify-content: space-between;
    line-height: 45px;
    @media (max-width:540px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin: 20px 0px;
    @media (min-width:750px) and (max-width:1050px) {
        padding: 50px 0px;
    }
    @media (min-width:300px) and (max-width:750px) {
        padding: 20px 0;
        gap: 50px;

      }
}

.icons img{
    cursor: pointer;
    margin: 4px;
    @media (max-width:500px) {
        width: 20px;
        height: 20px;
    }
}

#location{
    width: 60px;
    height: 70px;
    @media (max-width:540px){
        margin-left: 80px;
    }
}

.icons>div{
    @media (max-width:540px){
        font-size: 14px;
    }
}
