h2{
    text-align: center;
    font-size: 50px;
    color: #35B8BE;
    font-weight: 400;
}

h4{
    letter-spacing: 1.5px;
    padding: 12px;
}

.cards img{
    width: 300px;
}
p{
    color: #546285;
}
.card{
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    @media (min-width:750px) and (max-width:1050px) {
        padding: 0 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (min-width:300px) and (max-width:750px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 30px;
        align-items: center;
      }
}

.cards{
    width: 280px;
    height: 440px;
    text-align: center;
}